
<div class="containter_task">
    <div class="taskBox ">
        <h1>Готовые задачи</h1>
        <div class="readyTask Task">
            <button class="newTask">Добавить задачу</button>
        </div>
    </div>
    <div class="taskBox ">
        <h1>Задачи в работе</h1>
        <div class="progressTask Task">
            <button class="progressTaskAdd">Добавить задачу </button>      
            

        </div>

    </div>
    <div class="taskBox ">
        <h1>Выполненые задачи</h1>
        <div class="finishedTask Task">
            <button class="finishedTaskAdd">Добавить задачу</button>
            
        </div>

    </div>

</div>